html,
body {
  overscroll-behavior-y: none;
}

html,
body,
#root {
  height: 100%;
  font-family: sans-serif;
}

body {
  background-color: #ece9fa;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
}

.hideQuestionCard {
  opacity: 0;
  z-index: -1;
}

.showQuestionCard {
  opacity: 1;
  z-index: 999;
}
